<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.location %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= company.industry %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= company.founded %>
  </p>

</div>
